img {
    height: auto;
    max-width: 100%; 
    display: block;
    margin: auto;
  }
  
  main {
    background-color: #F5F5DC;
    border-radius: 3px;
  }
  
  div {
    background-color: #CDCDFF;
    padding: 60px 30px 1px;
    width: 95%;
    display: block;
    margin: auto;
    border-radius: 4px;
  }
  
  #img-caption {
    text-align: center;
    font-family: Arial;
    padding: 14px 0;
  }
  
  #title {
    text-align: center;
  }
  
  .desc {
    text-align: center;
    font-family: Arial;
    font-size: 17px;
  }
  
  section {
    text-align: left;
    width: 40%;
    display: block;
    margin: auto;
    line-height: 2rem;
    font-size: 18px;
  }
  
  .footer {
    padding: 0 0 20px;
  }